body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

.calculator {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #1c1c1c;
}

.calculator-screen {
    width: 350px;
    height: 80px;
    border: none;
    background-color: #1c1c1c;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    border-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

button {
    height: 60px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}

.operator {
    background-color: #856088;
}

.operator:hover {
    background-color: #563C5C;
}

.equal-sign {
    background-color: #856088;
    grid-column: span 2;
}

.equal-sign:hover {
    background-color: #563C5C;
}

.all-clear {
    background-color: #a5a5a5;
}

.all-clear:hover {
    background-color: #8c8c8c;
}

.delete {
    background-color: #ff7f50;
}

.delete:hover {
    background-color: #ff4500;
}

.zero {
    grid-column: span 1;
}
